* { box-sizing: border-box;}
body{
    background-size: cover;
    background-image: url(Fotos/Na.jpg);
}

.sans{
    position: absolute;
    left: 1050px;
    color: blue;
    font-size: 50px;
}

.funko{
    position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border: solid black;
  background-color: white;
  border-radius: 20%;
  box-shadow: gray 2px 2px 30px;
}


.ojos {
    position: relative;
    height: 200px;
    top: 100px;
}

.ojo{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 0.1em solid black;
    border-radius: 25%;
    background-color: black;
}

.pupila{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 160px;
    background-color: white;
    width: 160px;
    border-radius: 50%;
    top: 17px;

}

.ojo-izq {
    left: 260px;
}

.ojo-der {
    right: 260px;
}

.mini-ojo{
    z-index: 1000;
    position: absolute;
    box-shadow: blue 2px 2px 30px;
    background-color: aqua;
    height: 70px;
    width: 70px;
    bottom:100px;
    top: 45px;
    left: 40px;
    border-radius: 50%;
}

.mini-ojo{
    animation-name: mini-ojo;
    animation-duration: 5s;
}
@keyframes mini-ojo{
    0% {background-color: blue; transform:scale(100%);}
    25% {background-color: aqua; transform:scale(150%);}
    50% {background-color:darkblue; transform:scale(170%);}
    100% {background-color: darkturquoise; transform:scale(200%);}  
}

.nariz{
    position: relative;
    height: 70px;
    top: 130px;
}

.triangulo{
    position: absolute;
    transform: rotate(-90deg);
    left: 250px;
    border-left: 70px solid black;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
}

.triangulo1{
    position: absolute;
    z-index: 12;
    transform: rotate(-90deg);
    left: 255px;
    top:9px;
    border-left: 60px solid black;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent; 
}

.boca{
    position: relative;
    height: 70px;
    top: 200px;
}

.sonrisa{
    position: absolute;
    background-color: black;
    height: 30px;
    width: 200px;
    top: 20px;
    left: 180px;
    border-radius: 5px;
}

.rectangulo{
    position: absolute;
    left:10px;
    background-color: gold;
    height: 30px;
    width: 10px;
    top: 0px;
    animation-name: rectangulo;
    animation-duration: 5s;
}

@keyframes rectangulo{
0% {background-color: yellowgreen;}
25% {background-color: yellow;}
50% {background-color:yellowgreen;}
100% {background-color: gold;}  
}

.cuello{
    position: relative;
    z-index: -12;
    box-shadow: gray 2px 2px 30px;
    top:170px;
    left:190px; 
    width: 190px;
    height: 175px;
    border: solid black;
    background-color: white;
    border-radius: 5%;
}

.chaqueta{
    position: relative;
    background-color:dodgerblue;
    top:110px;
    left: 90px; 
    width: 400px;
    height: 450px;
    border-radius: 10%;
}


.tira1{
    bottom: 170px;
    left:380px;
    position: absolute;
    height: 270px;
    width: 150px;
    border-radius: 15%;
    background-color: dodgerblue;
    transform: rotate(130deg);
    z-index: 12;
}

.tira2{
    bottom: 170px;
    right:380px;
    position: absolute;
    height: 270px;
    width: 150px;
    border-radius: 15%;
    background-color: dodgerblue;
    transform: rotate(-130deg);
    z-index: 12;
    animation-name: tira2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.manga-der{
    z-index: -25;
    bottom:100px;
    position:relative;
    border-radius: 15%;
    border: 0.1em solid dodgerblue;
    background-color: white;
    height: 140px;
    width: 140px;                                                                                                                                                                                                                                        
}

@keyframes manga-der{
    0% {background-color: white;}
    25% {background-color: aqua;}
    50% {background-color:darkblue;}
    100% {background-color: #ECCD6A ;}
}

@keyframes tira2{
    0% {
        transform: rotate(0deg)
    }

    25%{
        transform: rotate(20eg)
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.manga-izq{
    z-index: -25;
    border-radius: 15%;
    bottom:100px;
    position:relative;
    border: 0.1em solid dodgerblue;
    background-color: white;
    height: 140px;
    width: 140px;
}

.tiras1{
    z-index: 15;
    position: relative;
    background-color: darkcyan;
    height: 450px;
    width: 50px;
    right: -70px;
}

.tiras2{
    z-index: 15;
    position: relative;
    background-color: darkcyan;
    height: 450px;
    width: 50px;
    left: 268px;
    bottom: 449px;
}

.ropa{
    z-index: -12;
    position: relative;
    border: o.1em solid yellow;
    background-color:purple;
}
.pantalon-der{
    left: 90px;
    top: 100px;
    z-index: 12;
    position: absolute;
    background-color: black;
    border-radius: 10%;
    width: 190px;
    height: 370px;
}

.pantalon-izq{
    right: 90px;
    top: 100px;
    position: absolute;
    background-color: black;
    border-radius: 10%;
    width: 190px;
    height: 370px;
}

.pie-der{
    background-color: #FD6C9E;
    position: absolute;
    height: 140px;
    width: 190px;
    top: 350px;
    border-radius: 5%;
}

.pie-izq{
    background-color: #FD6C9E;
    position: absolute;
    height: 140px;
    width: 190px;
    top: 350px;
    border-radius: 5%;
}

.boton{
    position: relative;
}

button{
    top: -400px;
    right: 1000px;
    position: absolute;
    border: 0;
    background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #00DDFF
    );
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 60px;
    padding: 4px;
    cursor: pointer;
    transition: 3s;
}


button span {
    background-color: black;
    padding: 16px 24px;
    border-radius: 6px;
    transition: 3s;
}

button:hover span{
    background: none;
}

button:active{
    transform: scale(0.9);
}


